#spielfeld {
    width: 75em;
    height: 50em;
    margin: auto auto;
    display: flex;
    flex-flow: row wrap;
    border: 2px solid white;
}

#spielfeld > div {
    width: 2.5em;
    height: 2.5em;
    margin: 0;
    background-repeat: no-repeat;
    background-size: contain;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    margin: 0em;
}

#Erklaerung {
		margin: auto auto;
		color: #FFF;
		background-color: #232323;
		text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
		
}

/*Boden*/
.boden {
    background-image: url("../pics/boden/Boden.png");
}

/*Wände*/
.wand_unten {
    background-image: url("../pics/wand/Wand-unten.png");
}

.wand_oben {
    background-image: url("../pics/wand/Wand-Vorderansicht.png");
}

.wand_rechts {
    background-image: url("../pics/wand/Wand-rechts.png");
}

.wand_links {
    background-image: url("../pics/wand/Wand-links.png");
}

/*Türe*/
.tuer_oben, .tuer_unten {
    background-image: url("../pics/wand/tuer_zu.png");
}

/*Props*/
.Druckplatte {
	background-image: url("../pics/boden/BodenDruckplatte.png");
}