#spielfeld {
    width: 75em;
    height: 50em;
    margin: auto auto;
    display: flex;
    flex-flow: row wrap;
    border: 2px solid white;
    z-index: 0;
}

#spielfeld > div {
    width: 2.5em;
    height: 2.5em;
    margin: 0;
    background-repeat: no-repeat;
    background-size: contain;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    margin: 0em;
}

#Erklaerung {
		margin: auto auto;
		color: #FFFFFF;
		border: 4px inset #1C6EA4;
		-webkit-box-shadow: 8px 5px 16px 6px rgba(0,0,0,0.95); 
		box-shadow: 8px 5px 16px 6px rgba(0,0,0,0.95);
		font-family: "Arial Black", Gadget, sans-serif;
		font-size: 16px;
		letter-spacing: 2px;
		word-spacing: 2px;
		color: #000000;
		font-weight: 400;
		text-decoration: none;
		font-style: normal;
		font-variant: normal;
		text-transform: none;
		background-color:grey;
		
}

/*Boden*/
.boden {
    background-image: url("../pics/boden/Boden.png");
}

/*Wände*/
.wand_unten {
    background-image: url("../pics/wand/Wand-unten.png");
}

.wand_oben {
    background-image: url("../pics/wand/Wand-Vorderansicht.png");
}

.wand_rechts {
    background-image: url("../pics/wand/Wand-rechts.png");
}
.wand {
	background-image: url("../pics/wand/Wand.png");
}
.wand_links {
    background-image: url("../pics/wand/Wand-links.png");
}

.wand_oben_rechts {
    background-image: url("../pics/wand/Wand-Ecke.png");
    transform: rotate(90deg);
}

.wand_oben_links {
    background-image: url("../pics/wand/Wand-Ecke.png");
}

.wand_unten_rechts {
    background-image: url("../pics/wand/Wand-Ecke.png");
    transform: rotate(180deg);
}

.wand_unten_links {
    background-image: url("../pics/wand/Wand-Ecke.png");
    transform: rotate(270deg);
}

/*Türe*/
.tuer_oben, .tuer_unten {
    background-image: url("../pics/wand/tuer_zu.png");
}

/*Props*/
.Druckplatte {
	background-image: url("../pics/boden/BodenDruckplatte.png");
}
