body {
min-width: 1080px;
}

#Startbildschirm {
  background-image: url("Startbild.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

#Player {
  background-image: url("Frau.png");
  position: absolute;
  width: 5em;
  height: 5em;
  background-repeat: no-repeat;
  background-size: contain;
  top: 70%;
  left: 50%;
}

#Start_Button {
  width: 20em;
  height: 10em;
  position: absolute;
  top: 57%;
  left: 43%;
  background-image: url("Start_Button.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.hide {
  display: none;
}

#Charakter2 {
  background-image: url("Mann.png");
  width: 5em;
  height: 5em;
  background-repeat: no-repeat;
  background-size: contain;
}

#Charakter3 {
  background-image: url("Prinz.png");
  width: 5em;
  height: 5em;
  background-repeat: no-repeat;
  background-size: contain;
}

#Charakter4 {
  background-image: url("Prinzessin.png");
  width: 5em;
  height: 5em;
  background-repeat: no-repeat;
  background-size: contain;
}
